@media screen and (max-width: 1250px){
    .listProduct{
        grid-template-columns: repeat(2,400px);
        margin-left: -200px;
    }.line{
        margin-left: 10px;
    }iframe{
        position: relative;
        left: 0;
    }.main-div{
        margin-left: 20px!important;
    }.green-container{
        left: -60px;
    }.main-div-2{
        margin-left: 50px!important;
    }.about-us-text{
        margin-left: 200px;
    }.main-div{
        margin-left: 20px!important;
    }.green-container{
        left: -60px;
    }.main-div-2{
        margin-left: 50px!important;
    }.about-us-text{
        margin-left: 250px;
    }.main-responsive{
        display: grid!important;
        grid-template-columns: repeat(1, 1fr)!important;
    }.career-main-img,.left-bottom-img,.right-top-img{
        margin-top: 50px;
        margin-bottom: 50px;
    }.green-container-3{
        right: 680px;
        top: 30px;
    }.green-container-4{
        top: 30px;
    }.green-5-sm{
        right: 550px;
    }.green-container-6{
        left: 250px;
        top: 20px;
    }.green-container-5{
        top: 250px;
    }
}

@media screen and (max-width: 805px){
}input{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .header-title, .header-text, .header-btn{
        margin-left: 20px;
    }.about-us-text{
        margin-top: 100px;
        margin-left: 0;
    }.about-us-img{
        width: 500px;
    }.green-container-2{
        width: 600px;
    }input{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }.additional-note{
        justify-content: start;
    }.article-text{
        font-size: 24px;
    }iframe{
       position: relative;
       left: 0;
    }.main-responsive{
        display: grid!important;
        grid-template-columns: repeat(1, 1fr)!important;
    }.career-main-img,.left-bottom-img,.right-top-img{
        margin-top: 50px;
        margin-bottom: 50px;
    }.green-container-3{
        right: 70px;
        top: 30px;
    }.green-container-4{
        top: 30px;
    }.green-5-sm{
        right: -20px;
    }.heritage-main-div, .partners-main-div{
        margin-left: 50px;
    }.btn-send-div{
        justify-content: start!important;
    }.franchise-header-title,.franchise-header-text,.franchise-header-btn{
        margin-left: 100px;
    }.green-container-5{
        top: 240px;
    }.green-container-6{
        top: 30px;
    }.listProduct{
        grid-template-columns: repeat(1,400px);
        margin-left: 0;
    }.line{
        margin-left: -120px;
    }.checkoutLayout{
        display: flex;
        flex-direction: column;
    }
}
